name: Tests

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch: null

jobs:
  tests:
    name: Tests
    runs-on: "${{ matrix.os }}"
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
    defaults:
      run:
        shell: bash
    env:
      VENV_BIN: "${{ startsWith(matrix.os, 'windows') && 'Scripts' || 'bin' }}"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "${{ matrix.python-version }}"
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install dependencies
        run: python -m pip install --upgrade .[dev,test,redis,mongo,sqlalchemy] build pip aiogram

      - name: Lint code
        run: make lint

      - name: Run tests
        run: make test

      - name: Check installable
        run: |
          python -m build --wheel .
          python -m venv ./venv
          ./venv/${{ env.VENV_BIN }}/pip install ./dist/*.whl
          ./venv/${{ env.VENV_BIN }}/python -c 'import aiogram_broadcaster;print(aiogram_broadcaster.__version__)'
